<ion-header>
  <ion-navbar>
    <ion-title>Add existing place</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid class="card-background-page">
    <ion-row>
      <ion-col *ngFor="let place of places | async" col-12 col-sm-9 col-md-6 col-lg-4 col-xl-3>
        <ion-card>
          <div class="imgContainer">
            <img *ngIf="place.images" src="{{place.images[0]}}" />
            <div *ngIf="!place.images" class="cardImg"></div>
            <div class="card-title">{{place.name}}</div>
          </div>
          <ion-row>
            <ion-col><button (click)="addToTrip(place)" ion-button icon-left clear small><div>Add to trip</div></button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>